/* Overall styling */

body {
    background-color: #1a1a1d;
    font-family: 'Poppins', sans-serif;
    color: #ededed;
}

.container {
    display:grid;
    gap:1.5rem;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
}

.container > div {
    background-color: #4e4e50;
    border-radius: 0.8rem;
    padding: 3%;
}

/* Progress indicator */


.progress-title {
    font-size: 1.7rem;
    margin: 2%;
}

.progress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress > div {
    margin-top:3%;
}

.progress-indicator {
    --side: 10vw;
    width: var(--side);
    height: var(--side);
    border-radius: 50%;
    background: conic-gradient(#c3073f 43.2deg, #6f2232 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-indicator::before {
    content: "";
    position: absolute;
    height: calc(var(--side) - 2rem);
    width: calc(var(--side) - 2rem);
    background-color: #4e4e50;
    border-radius: 50%;
}

.progress-value {
    position: relative;
    font-size: 2.5rem;
}

/* Health indicator */

.health-title {
    font-size: 1.7rem;
    margin: 2%;
}

.health {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.health > div {
    margin-top:3%;
}

.health-indicator {
    --side: 10vw;
    width: var(--side);
    height: var(--side);
    border-radius: 50%;
    background: conic-gradient(#c3073f 194.4deg, #6f2232 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.health-indicator::before {
    content: "";
    position: absolute;
    height: calc(var(--side) - 2rem);
    width: calc(var(--side) - 2rem);
    background-color: #4e4e50;
    border-radius: 50%;
}

.health-value {
    position: relative;
    font-size: 2.5rem;
}

/* Calendar */

.day, .cal-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 95%;
    gap: 0.5rem;
}

.cal-day {
    height: 3vw;
    padding: 10%;
    background-color:#6f2232;
    border-radius: 0.5rem;
}


.cal-day:first-of-type {
    grid-column: 2;
}

.cal-day:nth-of-type(3) {
    background-color: #c3073f;
}

.calendar {
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.day {
    /* background-color: aqua; */
    margin-bottom: 4%;
    text-align: center;
    font-weight: 800;
}

.calendar > hr {
    margin-top: 2%;
}

.specials {
    display: flex;
    flex-direction: column;
    width: 50%
}

.special {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.month {
    margin-bottom: 8%;
    font-size: 1.7rem;
}

/* E-mails */

.emails {
    grid-column: span 2;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.email-title {
    font-size: 1.7rem;
    margin: 2%;
}

.email {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1%;
}

.email-search {
    padding: 3%;
    padding-left: 4%;
    width: 70%;
    border-radius: 10rem;
    border: none;
    font-size: large;
    background-color: #3c3c37;
    color: white;
}

.email-search:focus {
    border: None;
}

hr {
    width: 100%;
}

/* To-do List */


.todo-list-title {
    font-size: 1.7rem;
    margin: 2%;
}



#new-task-name {
    padding: 4%;
    padding-left: 5%;
    width: 90%;
    padding-right: 0;
    border-radius: 10rem;
    border: none;
    font-size: large;
    background-color: #3c3c37;
    color: white;
}

.todo-list {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tasks {
    width: 100%;
}

#newtask {
    display: flex;
    justify-content: center;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.task-delete {
    float: right;
    font-size:large;
    padding: 3%;
}

.todo-list-title {
    justify-self: center;
}

.task-delete:hover {
    background-color: #6f2232;
    cursor: pointer;
}

/* Clock */

.clock-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    --side: 10vw;
    --side: 10vw;
    width: var(--side);
    height: var(--side);
    border-radius: 50%;
    background: conic-gradient(#c3073f 264.6deg, #6f2232 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock::before {
    content: "";
    position: absolute;
    height: calc(var(--side) - 2rem);
    width: calc(var(--side) - 2rem);
    background-color: #4e4e50;
    border-radius: 50%;
}

#clock-text {
    position: relative;
    font-family: monospace;
    font-size: 1.5rem;
}

/* Upcoming Events */

.events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events-list {
    width: 90%;
}

.events-title {
    font-size: 1.7rem;
    margin: 2%;
}

.event {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Monthly Budget */

.budget {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.budget-title {
    font-size: 1.7rem;
    margin: 2%;
}

.budget-overview {
    width: 90%;
    display:flex;
    justify-content: right;

}

.budget-spent {
    margin-top: 2%;
}

.budget-monthly {
    font-size: 1.3rem;
}

.long-term-title, .further-title {
    font-style: italic;
    opacity: 0.7;
}

.long-term-list {
    width: 90%;
}

.long-term-item {
    display:flex;
    justify-content: space-between;
}

.long-amount {
    display:flex
}

.long-expect {
    margin-top: 3%;
    margin-right: 2%;
    font-size: 0.7rem;
}

.budget-expected {
    width: 90%;
    text-align: right;
}

.further-item {
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.further-list {
    width: 90%;
    display: flex;
    flex-direction: column;
}

/* Quote */

.quote {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1d !important;
    font-family:cursive;
    font-size: 2rem;
}

.quote-author {
    font-size: 1.2rem;
    align-self: self-end;
}

.weather {
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: italic;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.humidity {
    margin-top: 5%;
}

/* Quick Search */

.quick-search {
    grid-column: span 2;
}

.quick-searches {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.quick-searches > div > input {
    border: none;
    width: 100%;
    background-color: #3c3c37;
    border-radius: 10rem;
    color: white;
    padding: 4%;
    font-size: 1.1rem;
}

.quick-searches > div {
    display: flex;
    justify-content: center;
}

.chatgpt {
    grid-column: span 2;
}

.chatgpt > input {
    padding: none;
}

input:focus {
    border: none;
}

/* Notifications */
.notifs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notifs-list {
    display: flex;
    flex-direction: column;
    width: 90%;
}
